<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Dissidia Final Fantasy</h1>
    <br />
    <h2>Join the Heros or the Villains</h2>
    <br />
    <%= link_to 'Battle', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Variety of Characters</h3>
    <br />
    <p>Choose from 30+ of your favorite Final Fantasy Characters.</p>
  </div>

  <div class="col-12 col-sm">
      <h3>Intense Battles</h3>
    <br />
    <p>Enroll as a team or prepare solo.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Team up with Friends</h3>
    <br />
    <p>Join friends to take on the competition.</p>
  </div>
</div>